{% extends "_base.html" %}
{% load static %}
{%block title%}NWCC - Resource Data Category{%endblock%}
{%block textlogo%}Resource Data Category{%endblock%}
{%block menu%}
<!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href="rs_cat/">Home</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
{%endblock%}

{%block topsection%}
<!-- Hero Start -->
        <section class="bg-half-170 bg-light d-table w-100" style="background: url('{%static "images/marketing/marketing.png" %}');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="title-heading mt-4">
                            <h1 class="heading mb-3">Resource Data Category</h1>
                            <p class="para-desc text-muted"><span class="text-primary">บัญชีแหล่งข้อมูล </span> ศูนย์อำนวยการน้ำแห่งชาติ 
                            </p>
                            <p>NWCC:> rs_cat <span class="para-desc text-muted">_</span></p>
                            <div class="watch-video mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary mb-2 mr-2">Enter</a>
                            
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <img src="{%static "images/marketing/Degital_marketing_SVG.svg"%}" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
{%endblock%}{#topsection#}