{% load static %}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}NWCC{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="National Water Management" />
        <meta name="keywords" content="National Water Management" />
        <meta content="NWCC" name="author" />
        <!-- favicon -->
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">
        <!-- Bootstrap -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="{%static 'css/materialdesignicons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/themify-icons.css'%}" rel="stylesheet" type="text/css">
        <!-- Magnific -->
        <link href="{%static 'css/magnific-popup.css'%}" rel="stylesheet" type="text/css" />
        <!-- Slider -->               
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}"/> 
        <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}"/> 
        <!-- Main css --> 
        <link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="{%static 'css/colors/default.css'%}" rel="stylesheet" id="color-opt">
        {%block header%}{%endblock%}
    </head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->
        
        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky bg-white">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="{%block urllogo%}http://{{request.get_host}}/{%endblock%}">{%block textlogo%}NWCC{%endblock%}<span class="text-primary">.</span></a>
                </div>                 
                <div class="buy-button">
                    <a href="{{login_url|default:'login/'}}" class="btn btn-primary">Login</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
        
                <div id="navigation">
                    {%block menu%}
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href="index.html">Home</a></li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Demos</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="index-agency.html">Agency</a></li>
                                <li><a href="index-software.html">Software</a></li>     
                                <li><a href="index-startup.html">Startup</a></li> 
                                <li><a href="index-application.html">Application</a></li>  
                                <li><a href="index-business.html">Business</a></li>  
                                <li><a href="index-freelancer.html">Freelancer</a></li>  
                                <li><a href="index-marketing.html">Marketing</a></li>  
                                <li><a href="index-property.html">Property</a></li>   
                            </ul>
                        </li>
        
                        <li class="has-submenu">
                            <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-about.html">Aboutus</a></li>
                                <li><a href="page-profile.html">Profile</a></li>
                                <li><a href="page-services.html">Services</a></li>
                                <li><a href="page-pricing.html">Pricing</a></li>
                                <li><a href="page-team.html">Team</a></li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-blog.html">Blog</a></li>
                                        <li><a href="page-blog-sidebar.html">Blog Sidebar</a></li>
                                        <li><a href="page-blog-single.html">Single Blog</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Case Study</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-cases.html">Cases</a></li>
                                        <li><a href="page-case-single.html">Single Case</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Work</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-work.html">Work</a></li>
                                        <li><a href="page-work-single.html">Single Work</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Authentication</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-login.html">Login Simple</a></li>
                                        <li><a href="page-signup.html">Signup Simple</a></li>
                                        <li><a href="page-forgot-password.html">Forgot Password Simple</a></li>
                                        <li><a href="page-login-2.html">Login</a></li>
                                        <li><a href="page-signup-2.html">Signup</a></li>
                                        <li><a href="page-forgot-password-2.html">Forgot Password</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Utility</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-faq.html">F.A.Q.</a></li>
                                        <li><a href="page-t&c.html">Terms & Conditions</a></li>
                                        <li><a href="page-privacy.html">Privacy Policy</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)"> Special</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="page-comingsoon.html">Coming Soon</a></li>
                                        <li><a href="page-maintenance.html">maintenance</a></li>
                                        <li><a href="page-404.html">Error 404</a></li>
                                    </ul>  
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Support</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="changelog.html">Changelog</a></li>
                                <li><a href="components.html">Components</a></li>
                            </ul>
                        </li>

                        <li><a href="contact.html">Contact</a></li>
                    </ul><!--end navigation menu-->
                    {%endblock%}{#menu#}
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        
        <!-- Hero Start -->
        {%block topsection%} 
        <section class="bg-half-170 bg-light d-table w-100" data-jarallax='{"speed": 0.5}' style="background:url('images/app/bg.jpg') center center" id="home">
            <div class="bg-overlay bg-overlay-primary"></div>
            <div class="container">
                <div class="row align-items-center position-relative" style="z-index: 1;">
                    <div class="col-lg-7 col-md-6">
                        <div class="title-heading text-center text-md-left mt-4">
                            <h1 class="heading text-white mb-3">Great app that makes your life awesome - Leaping</h1>
                            <p class="para-desc text-light">Start work with Leaping. Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                            <div class="mt-4">
                                <a href="#downloadnow" class="btn btn-light mouse-down"><i class="mdi mdi-download"></i> Install Now</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6 mt-4 pt-2">
                        <div class="home-img position-relative">
                            <img src="{%static 'images/app/mobile01.png'%}" class="img-fluid d-block mx-auto" alt="">
                            <div class="play-icon">
                                <a href="http://vimeo.com/287684225" class="play-btn video-play-icon">
                                    <i class="mdi mdi-play text-primary rounded-pill bg-dark shadow"></i>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container--> 
            <div class="home-shape d-block">
                <img src="{%static 'images/app/bg-shape.png'%}" alt="" class="img-fluid mx-auto d-block">
            </div>
        </section><!--end section-->
        {%endblock%}{#topsection#}
        <!-- Hero End -->

        <!-- Feature Start -->
        {%block section01%}
        <section class="section pt-5">
            <!-- Start Feature -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Application Features</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="feature p-3 py-5 rounded text-center">
                            <i class="ti-ruler-pencil border-icon"></i>
                            <div class="content">
                                <h4 class="title mt-3">Safe & Secure</h4>
                                <p class="text-muted mt-2 mb-0">If the distribution of letters and 'words' is random, the reader will not be distracted.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="feature p-3 py-5 rounded text-center">
                            <i class="ti-layers-alt border-icon"></i>
                            <div class="content">
                                <h4 class="title mt-3">Quick & Easy</h4>
                                <p class="text-muted mt-2 mb-0">The most well-known dummy text is the 'Lorem', which is said to have in.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="feature p-3 py-5 rounded text-center">
                            <i class="ti-desktop border-icon"></i>
                            <div class="content">
                                <h4 class="title mt-3">Trusted</h4>
                                <p class="text-muted mt-2 mb-0">One disadvantage of Lorum Ipsum is that in certain letters appear more than.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="feature p-3 py-5 rounded text-center">
                            <i class="ti-ruler-alt-2 border-icon"></i>
                            <div class="content">
                                <h4 class="title mt-3">Low Cost</h4>
                                <p class="text-muted mt-2 mb-0">Moreover, in Latin only words at the beginning of sentences are capitalized.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center mt-4 pt-4">
                    <div class="col-md-10">
                        <img src="{%static 'images/app/mobile-hori.png'%}" class="img-fluid d-block mx-auto" alt="">
                    </div>
                    <div class="col-12 text-center pt-2">
                        <div class="alert alert-dark alert-pills mb-0" role="alert">
                            <span class="badge badge-success badge-pill"> Download </span>
                            <span class="alert-content ml-2"> Trusted by the world's best <i class="mdi mdi-download"></i></span>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
            {%endblock%}{#section01#}
            <!-- End Feature -->

            {%block section02%}
            <!-- Start -->
            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="{%static 'images/app/01.png'%}" class="img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ml-md-5">
                            <span class="badge badge-primary"> New </span>
                            <h4 class="title mt-3 mb-4">Build Beautiful & Modular Application</h4>
                            <p class="text-muted para-desc">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                            <ul class="list-inline mb-0">
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Can I upgrade later on?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Can I port my data from another provider?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Are my food photos stored forever in the cloud?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Who foots the bill for that?</li>
                            </ul>
                            <div class="mt-4">
                                <a href="javascript:void(0)" class="text-primary">Learn More <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- End -->
        </section><!--end section-->
        <!-- Section end -->
        {%endblock%}{#section02#}

        {%block section03%}
        <!-- Testi Start -->
        <section data-jarallax='{"speed": 0.5}' style="background: url(images/app/cta.jpg) center center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-review bg-dark shadow rounded p-4">
                            <div id="single" class="owl-carousel owl-theme">                            
                                <div class="single-review text-center">
                                    <ul class="list-unstyled h5 text-warning">
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                    <p class="text-white h5 review font-italic font-weight-normal">" There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. "</p>
                                    <div class="reviewer mt-3">
                                        <img src="{%static 'images/client/01.jpg'%}" class="img-fluid avatar avatar-small rounded-pill mx-auto shadow" alt="">
                                        <h6 class="mt-2 mb-0 text-light">Martin Sobhe</h6>
                                        <p class="text-primary mb-0">Infosys</p>
                                    </div>
                                </div><!--end single review-->
                                
                                <div class="single-review text-center">
                                    <ul class="list-unstyled h5 text-warning">
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                    <p class="text-white h5 review font-italic font-weight-normal">" These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories accurately represent "</p>
                                    <div class="reviewer mt-3">
                                        <img src="images/client/02.jpg" class="img-fluid avatar avatar-small rounded-pill mx-auto shadow" alt="">
                                        <h6 class="mt-2 mb-0 text-light">Bobby DE</h6>
                                        <p class="text-primary mb-0">Vivo</p>
                                    </div>
                                </div><!--end single review-->
                                
                                <div class="single-review text-center">
                                    <ul class="list-unstyled h5 text-warning">
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                    <p class="text-white h5 review font-italic font-weight-normal">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero in 45 BC. Allegedly, a Latin scholar "</p>
                                    <div class="reviewer mt-3">
                                        <img src="{%static 'images/client/03.jpg'%}" class="img-fluid avatar avatar-small rounded-pill mx-auto shadow" alt="">
                                        <h6 class="mt-2 mb-0 text-light">Sunny Longd</h6>
                                        <p class="text-primary mb-0">Apple</p>
                                    </div>
                                </div><!--end single review-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Testi End -->
        {%endblock%}{#section03#}

        
        <!-- Section Start -->
        <section class="section">
            {%block section04%}
            <div class="container">
                <div class="row mt-5 pt-4 align-items-center">
                    <div class="col-lg-5 col-md-6 order-1 order-md-2 text-right">
                        <img src="{%static 'images/app/02.png'%}" class="img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title mr-md-5">
                            <span class="badge badge-primary"> Hot </span>
                            <h4 class="title mt-3 mb-4">Less working, More sales flow.</h4>
                            <p class="text-muted para-desc">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                            <ul class="list-inline mb-0">
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Can I upgrade later on?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Can I port my data from another provider?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Are my food photos stored forever in the cloud?</li>
                                <li class="h6"><i class="mdi mdi-check-circle-outline text-primary h5 mb-0 mr-2"></i> Who foots the bill for that?</li>
                            </ul>
                            <div class="mt-4">
                                <a href="javascript:void(0)" class="text-primary">Read More <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            {%endblock%}{#section04#}
            <!-- Start Team -->
            {%block section05%}
            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h4 class="title mb-4">Our Creative Minds</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="mt-4 pt-2">
                            <div class="team position-relative d-block text-center">
                                <div class="image position-relative d-block overflow-hidden">
                                    <img src="{%static 'images/team/01.jpg'%}" class="img-fluid rounded" alt="">
                                    <div class="overlay rounded bg-dark"></div>
                                </div>
                                <div class="content py-2 member-position bg-white border-bottom overflow-hidden rounded d-inline-block">
                                    <h4 class="title mb-0">Calvin Carlo</h4>
                                    <small class="text-muted">Founder</small>
                                </div>
                                <ul class="list-unstyled team-social social-icon social mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="mt-4 pt-2">
                            <div class="team position-relative d-block text-center">
                                <div class="image position-relative d-block overflow-hidden">
                                    <img src="{%static 'images/team/02.jpg'%}" class="img-fluid rounded" alt="">
                                    <div class="overlay rounded bg-dark"></div>
                                </div>
                                <div class="content py-2 member-position bg-white border-bottom overflow-hidden rounded d-inline-block">
                                    <h4 class="title mb-0">Martin Sobhe</h4>
                                    <small class="text-muted">C.E.O.</small>
                                </div>
                                <ul class="list-unstyled team-social social-icon social mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="mt-4 pt-2">
                            <div class="team position-relative d-block text-center">
                                <div class="image position-relative d-block overflow-hidden">
                                    <img src="{static 'images/team/03.jpg'}" class="img-fluid rounded" alt="">
                                    <div class="overlay rounded bg-dark"></div>
                                </div>
                                <div class="content py-2 member-position bg-white border-bottom overflow-hidden rounded d-inline-block">
                                    <h4 class="title mb-0">Bobby DE</h4>
                                    <small class="text-muted">Developer</small>
                                </div>
                                <ul class="list-unstyled team-social social-icon social mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="mt-4 pt-2">
                            <div class="team position-relative d-block text-center">
                                <div class="image position-relative d-block overflow-hidden">
                                    <img src="{%static 'images/team/04.jpg'%}" class="img-fluid rounded" alt="">
                                    <div class="overlay rounded bg-dark"></div>
                                </div>
                                <div class="content py-2 member-position bg-white border-bottom overflow-hidden rounded d-inline-block">
                                    <h4 class="title mb-0">Cristino Murphy</h4>
                                    <small class="text-muted">Designer</small>
                                </div>
                                <ul class="list-unstyled team-social social-icon social mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- End Team -->
            {%endblock%}{#section05#}

            {%block section06%}
            <!-- Start Counter -->
            <div class="container mt-100 mt-60">
                <div class="row" id="counter">
                    <div class="col-md-3 col-6">
                        <div class="counter-box py-4 py-sm-0 text-center">
                            <i class="mdi mdi-school-outline h1"></i>
                            <h2 class="mb-0 mt-2"><span class="counter-value" data-count="2500">300</span>+</h2>
                            <h6 class="counter-head text-dark">User Worldwide</h6>
                        </div><!--end counter box-->
                    </div><!--end col-->

                    <div class="col-md-3 col-6">
                        <div class="counter-box py-4 py-sm-0 text-center">
                            <i class="mdi mdi-book-open-variant h1"></i>
                            <h2 class="mb-0 mt-2"><span class="counter-value" data-count="20000">1000</span>+</h2>
                            <h6 class="counter-head text-dark">Download</h6>
                        </div><!--end counter box-->
                    </div><!--end col-->

                    <div class="col-md-3 col-6">
                        <div class="counter-box py-4 py-sm-0 text-center">
                            <i class="mdi mdi-account h1"></i>
                            <h2 class="mb-0 mt-2"><span class="counter-value" data-count="11">0</span>+</h2>
                            <h6 class="counter-head text-dark">Team Members</h6>
                        </div><!--end counter box-->
                    </div><!--end col-->

                    <div class="col-md-3 col-6">
                        <div class="counter-box py-4 py-sm-0 text-center">
                            <i class="mdi mdi-language-swift h1"></i>
                            <h2 class="mb-0 mt-2"><span class="counter-value" data-count="9">0</span>+</h2>
                            <h6 class="counter-head text-dark">Rating</h6>
                        </div><!--end counter box-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- End Counter -->
            {%endblock%}{#section06#}

            {%block section07%}
            <!-- Start Download -->
            <div class="container mt-100 mt-60 mb-3 mb-md-5" id="downloadnow">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h4 class="title mb-4 pb-2">Get the App now !</h4>
                            <p class="text-muted para-desc mx-auto">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary mt-2 mr-2"><i class="mdi mdi-apple"></i> App Store</a>
                                <a href="javascript:void(0)" class="btn btn-outline-primary mt-2"><i class="mdi mdi-google-play"></i> Play Store</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- End Download -->
            {%endblock%}{#section07#}
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-footer">
                <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- section End -->

        {%block sitemap%}
        <!-- Footer Start -->
        <footer class="footer bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a class="logo-footer text-light" href="#">Leaping<span class="text-primary">.</span></a>
                        <p class="mt-4">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-light footer-head">Landing</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="index-agency.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Agency</a></li>
                            <li><a href="index-software.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Software</a></li>
                            <li><a href="index-startup.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Startup</a></li>
                            <li><a href="index-application.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Application</a></li>
                            <li><a href="index-business.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Business</a></li>
                            <li><a href="index-freelancer.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Freelancer</a></li>
                            <li><a href="index-marketing.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Marketing</a></li>
                            <li><a href="index-property.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Property</a></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-light footer-head">About</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="page-about.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> About us</a></li>
                            <li><a href="page-services.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Services</a></li>
                            <li><a href="page-team.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Team</a></li>
                            <li><a href="page-pricing.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Pricing</a></li>
                            <li><a href="page-services.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Features</a></li>
                            <li><a href="page-faq.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> FAQ</a></li>
                            <li><a href="page-blog.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Blog</a></li>
                            <li><a href="page-login-2.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Login</a></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-light footer-head">Locations</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> San Francisco</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Tokio</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> South Korea</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Myanmar</a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        {%endblock%}{#sitemap#}
        {%block footer%}
        <footer class="footer bg-footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-left">
                            <p class="mb-0">© 2020 <span class="text-primary">NWCC</span>. Dev Design and Mod by {{dev_team|default:"B.50"}} <i class="mdi mdi-heart text-danger"></i> 
                            | {{ app_name|default:"NWCC Services" }} - version {{ app_version|default:"0.01" }}
                            </p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled text-sm-right social-icon social mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->
        {%endblock%}{#footer#}
        <!-- Back to top -->
        <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
            <i class="mdi mdi-chevron-up d-block"> </i> 
        </a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src="{%static 'js/jquery-3.5.1.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
        <script src="{%static 'js/jquery.easing.min.js'%}"></script>
        <script src="{%static 'js/scrollspy.min.js'%}"></script>
        <!-- Magnific Popup -->
        <script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
        <script src="{%static 'js/magnific.init.js'%}"></script>
        <!-- Counter -->
        <script src="{%static 'js/counter.init.js'%}"></script>
        <!-- Parallax -->
        <script src="{%static 'js/parallax.js'%}"></script>
        <!-- SLIDER -->
        <script src="{%static 'js/owl.carousel.min.js'%}"></script>
        <script src="{%static 'js/owl.init.js'%} "></script>
        <!-- Main Js -->
        <script src="{%static 'js/app.js'%}"></script>
        {%block js%}{%endblock%}
    </body>
</html>